<footer class="site-footer">
    <div class="inner">
        <div class="social-links">
            {% if site.twitter_username %}
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}" class="fa fa-twitter square fill-horizontal"><span class="screen-reader-text">Twitter</span></a>
            {% endif %}
            {% if site.twitch_username %}
            <a target="_blank" href="https://www.twitch.tv/{{ site.twitch_username }}" class="fa fa-twitch square fill-horizontal"><span class="screen-reader-text">Twitch</span></a>
            {% endif %}
            {% if site.github_username %}
            <a target="_blank" href="https://github.com/{{ site.github_username }}" class="fa fa-github-alt square fill-horizontal"><span class="screen-reader-text">GitHub</span></a>
            {% endif %}
            {% if site.codepen_username %}
            <a target="_blank" href="http://codepen.io/{{ site.codepen_username }}" class="fa fa-codepen square fill-horizontal"><span class="screen-reader-text">CodePen</span></a>
            {% endif %}
            {% if site.dribbble_uername %}
            <a target="_blank" href="https://dribbble.com/{{ site.dribbble_uername }}" class="fa fa-dribbble square fill-horizontal"><span class="screen-reader-text">Dribbble</span></a>
            {% endif %}
            {% if site.linkedin_username %}
            <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="fa fa-linkedin square fill-horizontal"><span class="screen-reader-text">LinkedIn</span></a>
            {% endif %}
            <a target="_blank" class="fa fa-feed square fill-horizontal" href="{{ site.baseurl }}/feed.xml"><span class="screen-reader-text">RSS</span></a>
        </div><!-- .social-links -->
        <div class="site-info">
            &copy; <a href="{{ site.baseurl }}/">{{site.title}}</a> all rights reserved.
            <a href="#top" id="top-link" class="fa fa-chevron-up top-link square fill-horizontal"><span class="screen-reader-text">Back to the top</span></a>
        </div><!-- .site-info -->
    </div><!-- .inner -->
</footer><!-- .site-footer -->
