
$background-color: 		#fcfcfc;

$black:					#000;
$white:					#fff;

$grey-color-dark: 		#333;
$grey-color-normal: 	#666;
$grey-color-light: 		#aaa;
$grey-color-lighter: 	#ddd;
$grey-color-lightest: 	#eee;

$primary-color:			#1abc9c;
$secondary-color:       #c73b6f;
$header-color:			#454e57;

// brand colors
$brand-facebook:	    #3b5998;
$brand-twitter:	        #55acee;
$brand-instagram:       #815f4d;
$brand-linkedin:        #007bb6;
$brand-github:          $black;
$brand-stack-overflow:  #FF9900;
$brand-dribbble:        #C73B6F;
$brand-rss:             #FF6600;
$brand-email:           $primary-color;

$default-width:			1100px;
$on-tablet:				768px;
$on-smaller-tablets:    640px;
$on-phone:				480px;