@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '../fonts/spezia/spezia.css';
@import 'fontsource-roboto/index.css';

body {
  @apply bg-grey-lighter;
}

html {
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Spezia, Roboto, sans-serif;
}

div.nuxt-progress {
  background: linear-gradient(to right, #7fc6f4, #d5279b);
}

.badge {
  @apply font-semibold;
  @apply px-3;
  @apply py-1;
  @apply rounded-full;
  @apply text-sm;
  @apply bg-grey-light;
  @apply text-grey-darker;
}

.badge--small {
  @apply px-2;
  @apply text-xs;
}

.badge--large {
  @apply px-4;
  @apply text-base;
}

.badge--purple {
  @apply bg-purple-lighter;
  @apply text-purple-dark;
}

.button {
  @apply font-semibold;
  @apply py-2;
  @apply px-4;
  @apply rounded;
  @apply inline-flex;
  @apply items-center;
  @apply text-sm;
}

select.button {
  @apply pr-10;
  @apply appearance-none;
  @apply outline-none;
}

.button--pill {
  @apply rounded-full;
}

.button--round {
  @apply p-0;
  @apply rounded-full;
  @apply h-8;
  @apply w-8;
  @apply flex;
  @apply items-center;
  @apply justify-center;
}

.button--small {
  @apply text-xs;
}

.button--primary {
  @apply bg-black;
  @apply text-white;
}

.button--white {
  @apply bg-white;
  @apply text-black;
}

.button--twitter {
  @apply bg-brand-twitter;
  @apply text-white;
}

.button--slack {
  @apply bg-brand-slack;
  @apply text-white;
}

.button--twitch {
  @apply bg-gray-800;
  @apply text-white;
}

.button--twitch svg {
  @apply text-brand-twitch;
}

.icon-size {
  width: 1em;
  height: 1em;
}

@screen md {
  .nuxt-content .nuxt-content-highlight {
    margin: 0 -30px;
  }

  .nuxt-content .nuxt-content-highlight pre {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.nuxt-content img {
  @apply rounded-lg;
  margin: 0 auto;
}

.nuxt-content p a {
  @apply text-purple-dark;
}

.index-section > h2 {
  @apply my-6;
  @apply my-10;
  @apply text-sm;
  @apply font-light;
  @apply text-center;
  @apply uppercase;
  @apply text-grey-dark;
  @apply relative;
  @apply z-20;
  @apply tracking-widest;
}

.index-section > h2:before {
  @apply border-t;
  @apply border-grey-light;
  @apply my-0;
  @apply mx-auto;
  @apply absolute;
  @apply left-0;
  @apply right-0;
  @apply bottom-0;
  @apply w-11/12;
  z-index: -1;
  content: '';
  top: 50%;
}

.index-section > h2 > span,
.index-section > h2 > a {
  @apply bg-grey-lighter;
  @apply z-10;
  @apply py-0;
  @apply px-4;
}

.card-figure {
  @apply block;
  @apply w-full;
  @apply overflow-hidden;
}

