@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '../fonts/spezia/spezia.css';
@import 'fontsource-roboto/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}

body {
	@apply text-white
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'SpeziaWide', sans-serif;
	@apply font-bold;
	border-bottom: 1px solid;
	border-image-source: linear-gradient(
		90deg,
		rgba(255, 0, 255, 1) 0%,
		rgba(0, 255, 255, 1) 100%
	);
	border-image-slice: 1;

	background: linear-gradient(
		90deg,
		rgba(255, 0, 255, 1) 0%,
		rgba(0, 255, 255, 1) 100%
	);
	-webkit-text-fill-color: transparent;
	@apply bg-clip-text;
	@apply pb-2;
	@apply mb-5;
}

h1 {
	@apply text-3xl;
	@apply md:text-4xl;
}
h2 {
	@apply text-2xl;
	@apply mt-3;
	@apply md:text-2xl;
	@apply md:mt-8;
}
h3 {
	@apply text-xl;
	@apply mt-3;
	@apply md:mt-6;
	@apply md:text-xl;
}

h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
	content:"";
	@apply block;
	height:90px;
	margin: -90px 0 0;
}

p {
	@apply mt-3;
	@apply mb-3;
}

blockquote {
	font-family: 'SpeziaWide', sans-serif;
	@apply bg-gray-600;
	@apply border-gray-900;
	@apply mx-0;
	@apply my-5;
	@apply px-6 py-3;
	@apply italic;
	@apply text-gray-200;
	@apply rounded-lg;
	@apply shadow-lg;
	@apply overflow-x-auto;

	@apply md:mx-10;
	@apply md:py-6;
}

blockquote strong {
	@apply text-white;
}

pre {
	margin: 35px -30px;
	@apply rounded-xl;
	@apply shadow-lg;
	@apply overflow-x-auto;
}

a {
	@apply cursor-pointer;
	@apply text-pink-500
}
a:hover {
	@apply text-blue-500
}

input,
textarea {
	@apply block;
	@apply w-full;
	@apply p-2;
	@apply text-white;
	@apply bg-gray-600;
	@apply border-white;
	@apply border-solid;
	@apply border;
	@apply rounded-md;

	@apply md:w-3/4;
}

label {
	font-family: 'SpeziaWide', sans-serif;
	@apply font-bold;
	@apply text-pink-500;
}

button {
	@apply rounded-xl;
	@apply pl-4 pr-4;
	@apply pt-2 pb-2;
	@apply text-blue-500;
	@apply font-bold;
	@apply border-white;
	@apply border-solid;
	@apply border;
	@apply rounded-md;
	@apply bg-gray-700;
}

img {
  @apply rounded-lg;
  margin: 0 auto;
}

header {
	@apply z-0;
	@apply -mb-1;
}

form {
	@apply mt-10;
}

article {
	@apply flex;
	@apply flex-col;
	@apply bg-gray-500;
	@apply w-11/12;
	@apply h-full;
	@apply lg:w-4/5;
	@apply rounded-b-lg;
}

article.full {
	@apply w-full;
}

article > section {
	@apply bg-gray-500;
	@apply rounded-b-xl;
	@apply text-lg;
	@apply p-6;
	@apply lg:p-10;
}

aside {
	@apply flex-col;
	@apply w-1/12;
	@apply bg-gray-500;
	@apply rounded-xl;
	@apply p-3;
	@apply text-sm;
	@apply z-0;
	@apply sticky;
	top: 105px;
	@apply flex;
	@apply lg:w-1/5;
}

aside h3 {
	@apply uppercase;
	@apply text-base;
	@apply text-white;
	background: unset;
	background-clip: unset;
	-webkit-text-fill-color: unset;
}

.sticky + .container {
  padding-top: 66px;
}

.post {
	@apply flex;
	@apply items-start;
	@apply mt-10;
	@apply space-x-2;
	@apply lg:space-x-3;
}

summary {
	@apply text-sm;
	@apply mb-1;
	@apply font-bold;
	@apply md:text-base;
}

.rt,
time {
	@apply text-sm;
	@apply text-blue-500;
	@apply font-normal;
}

.cld-image {
	width: unset !important;
	@apply -ml-1;
	@apply -mr-1;
	@apply mt-0;
	@apply mb-0;
	@apply shadow-lg;
	@apply rounded-xl;
	@apply overflow-hidden;
}

.nuxt-content ul {
	@apply list-disc;
	@apply pl-6;
}

article.card  {
	@apply w-full;
	@apply shadow-lg;
	@apply text-white;
}
.card h3 {
	@apply border-none;
	@apply mt-2 mb-0;
	@apply pb-0;
}

div.nuxt-progress {
  background: linear-gradient(to right, #7fc6f4, #d5279b);
}

@screen lg {
	.cld-image {
		margin: 0px -8px;
	}
}
