<ul class="clear">
    <li><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b, %Y" }}</time></li>
    
    {% if page.comments %}
        {% capture page_default_slug %}{{ page.slug | default: (page.title | slugify) }}{% endcapture %}
        {% capture slug %}{{ (page.slug | fallback: page_default_slug) | downcase }}{% endcapture %}
        <li class="meta-comments"><a href="{{ page.url }}#comments">{{ site.data.comments[slug] | size }} comments</a></span>
    {% endif %}

    {% if site.show_categories == 1 and page.category %}
        {% if page.category %}
        <li class="cats">
            {% for category in page.category %}
                <a href="{{site.url}}/{{site.category_dir}}/{{category}}/">{{ category }}</a>
            {% endfor %}
        </li>
        {% endif %}
    {% endif %}
</ul>