
@import "_sass/variables", "_sass/reset", "_sass/syntax";

html {scroll-behavior: smooth;}
body {
  background-color: $mid-blue;
  font-family: 'Roboto', sans-serif;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.screen-reader-text {
  border: 0 none;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

a {
  color: $pink;
  text-decoration: none;
  &:hover {
    color: $gold;
  }
}