@import "_sass/variables", "_sass/reset", "_sass/syntax";

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  background-color: $darkblue;
  color: $lightgray;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  main {
    flex-direction: column;
  }
}

footer {
  padding: 15px 0;
}

footer, main, article {
  display: flex;
}

footer, main {
	align-items: center;
  
  padding-left: calc((100vw - 1000px) / 2);
  padding-right: calc((100vw - 1000px) / 2);
}

article {
  flex-direction: column;
  margin-top: 20px;
  width: 100%;

  header, footer {
    padding: 0;
  }
  img {
    max-width: 100%;
  }

  section {
    h1, h2, h3 {
      font-family: 'PT Sans', sans-serif;
      color: $white;
      border-bottom: 1px solid;
      border-image-source: linear-gradient(90deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%);
      border-image-slice: 1;
      padding-bottom: 5px;
      
      display: flex;
      align-items: flex-end;
      width: 100%;

      &.link {
        justify-content: space-between;
      }
      
      a {
        float: right;
        display: flex;
        text-decoration: none;
        align-items: center;
        font-weight: normal;
        font-size: .6em;
        justify-self: flex-end;
        color: $neonpink;   

        &:hover, :active {
          color: $white;
        }

        svg {
          margin-left: 5px;
        }
      }
    }
  }
}

a {
  color: $neonpink;   
}

.bm-burger-bars {
  background: $neonblue !important; //linear-gradient(90deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%) !important;
}
.bm-overlay {
  background: $darkerblue !important;
}
.bm-menu {
  background: $darkblue !important;
}
.bm-cross {
  background: $neonpink !important;
}

