
@import "_sass/variables", "_sass/reset", "_sass/syntax";

html {scroll-behavior: smooth;}
body {
  background-color: $mid-blue;
  font-family: 'Roboto', sans-serif;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.screen-reader-text {
  border: 0 none;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

a {
  color: $pink;
  text-decoration: none;
  &:hover {
    color: $gold;
  }
}

.page {
  margin-bottom: 0;
    
  .entry-header {
    background-color: $light-blue;
    padding: .5em;
    height: 95%;

    img {
      width: 100%;
      background-color: $white;
    }

  }
  .entry-title {
    margin: .5em 0 0 0;
    font-size: 1em;
    font-family: 'PT Sans', sans-serif;
    a {
      text-decoration: none;
      color: $white;
    }
  }
  .entry-meta {
    font-size: .7em;
    margin-top: .2em;
    color: $gray;
  }
  .entry-header {
    background-color: $light-blue !important;
  }
  .entry-content {
    background-color: $white;
    padding: 20px;

    h1 {
      font-size: 2.5em;
      margin: 0;
      color: $pink;
    }
    .entry-meta {
      padding-bottom: 15px;
      border-bottom: 1px dotted $mid-blue;
      a {
        color: $pink;
        text-decoration: none;
        &:hover {
          color: $pink;
        }
      }
    }
    .content {
      line-height: 1.6em;
      /deep/ blockquote {
        background-color: $lightest-gray;
        color: $dark-blue;
        margin: 0 20px;
        font-family: 'PT Sans', sans-serif;
        font-size: 1.1em;
        font-style: italic;
        border: $gray solid 1px;
        p {
          padding: 0 10px;
        }
      }
      /deep/ ul {
        li {
          display: inline-block;
          padding: 5px;
        }
      }
      /deep/ img {
        border: 10px solid;
        box-shadow: 2px 2px 10px $gray;
        border-color: $light-gray ;
        margin: 20px;
        position: relative;
        left: 25%;
        width: 40%;

        &.right, &.left {
          position: unset;
          left: unset;
          width: unset;
        }

        &.right {
          float: right;
          margin-right: 0;
        }
        &.left {
          float: left;
          margin-left: 0;
        }
      }
      /deep/ code {
        background-color: $lightest-gray;
        padding: 0 4px;
        font-style: italic;
        font-size: .9em;
      }
      /deep/ pre {
        code {
          background-color: inherit;
          font-style: inherit;
          font-size: inherit;
          line-height: inherit;
        }
      }
    }
  }
}