---
layout: default
---

<h1>{{page.title}}</h1>

{% for post in site.posts %}
    {% for tag in post.tags %}
        {% if tag == page.tag %}
        <article class="post" role="article" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
                {% include post/meta.html %}
                <h2 itemprop="name headline">{{ page.title }}</h2>
            </header>
            
            {% if index %}
                <div class="post-content">
                    {{ page.content | page.excerpt }}
                    {% if excerpted == 'true' %}<a href="{{ page.url }}" class="more-link">{{ site.excerpt_link }}</a>{% endif %}
                </div>
            {% else %}
                <div class="post-content">
                    {{ page.content }}
                </div>
            {% endif %}

            {% include post/footer.html %}
        </article>
        {% endif %}
    {% endfor %}
{% endfor %}